html body.seamwork14 .Cre-Join .opens.new.tab {
  background-color: #A6645F;
  color: #fff;
  border: 1px solid #A6645F;
}

html body.seamwork14 .Cre-Join p {
  font-size: 16px;
  font-family: 'Roboto Bold';
  color: #282829;
}

html body.seamwork14 .CreGuarantee p {
  font-size: 16px;
  line-height: 25px;
  font-family: 'Roboto Light';
  margin-bottom: 0;
}

html body.seamwork14 .CreGuarantee {
  background-color: #F7F2EB;
  padding: 20px 35px;
  margin-top: 32px;
}

html body.seamwork14 .CreGuarantee h3 {
  font-size: 16px;
  font-family: 'Roboto Bold';
  margin-bottom: 0;
  line-height: 25.6px;
}

/* html body.seamwork14 .product--content>div:last-child [data-turbo="false"]>p:first-child,
html body.seamwork14 .product--content>div:last-child [data-turbo="false"] [href="/join#pricing"],
html body.seamwork14 .product--content>div:last-child [data-turbo="false"]>p:nth-child(4),
html body.seamwork14 .product--content>div:last-child .simple-format+.product--details,
html body.seamwork14 .Cre-Join+p,
html body.seamwork14 .Cre-Join+p+p,
html body.seamwork14 .Cre-Join~p {
  display: none;
} */

html body.seamwork14 .Cre-Join+.half-space+p {
  display: none;
}

html body.seamwork14 .CreGuarantee h3:before {
  content: " ";
  display: inline-block;
  background-image: url(https://www.seamwork.com/assets/entry/join/icon-guarantee-b100d5905863e1cd54728f1eecdaeeb34886a4de05c40f38a105fba00338892a.svg);
  height: 45px;
  width: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -15px;
  top: 11px;
}

html body.seamwork14 .CreGuarantee>div {
  padding-left: 50px;
  position: relative;
}

html body.seamwork14 div[data-turbo="false"] a[href="/join#pricing"] {
  background-color: #A6645F !important;
  border: 1px solid #A6645F !important;
  color: #fff;
}

html body.seamwork14 div[data-turbo="false"] a[href="/join#pricing"]:hover {
  color: #fff;
}

html body.seamwork14 #checkout {
  margin-bottom: 30px;
}

#chtml body.seamwork14 .heckout+em {
  display: inline-block;
  margin-bottom: 18px;
}

html body.seamwork14 .product--content .product--tags.show-for-medium-up .tag {
  color: #282829;
  background-color: #ECDFCD;
}

html body.seamwork14 [data-turbo="false"]>#checkout button {
  background-color: #fff;
  border: 1px solid #333132;
}

html body.seamwork14 [data-turbo="false"] p label {
  display: inline-block;
}



html body.seamwork14 #js--modal-skill-levels+p {
  margin-bottom: 0 !important;
}

@media screen and (max-width:767px) {
  html body.seamwork14 .product--header .product--tags .tag {
      color: #282829;
      background-color: #ECDFCD;
  }

  html body.seamwork14 .product--images-container .row.collapse a.button {
      background: #ffff;
      color: #282829;
      font-family: 'Roboto Light';
      font-weight: 400;
      font-size: 13.6px;
      line-height: 16px;
      letter-spacing: 1.28px;
  }

  html body.seamwork14 .CreGuarantee {
      position: relative;
  }

  html body.seamwork14 .CreGuarantee:after {
      content: '';
      background: #F7F2EB;
      display: block;
      width: 30px;
      height: 100%;
      position: absolute;
      right: -15px;
      top: 0;
  }

  html body.seamwork14 .CreGuarantee:before {
      content: '';
      background: #F7F2EB;
      display: block;
      width: 30px;
      height: 100%;
      position: absolute;
      left: -15px;
      top: 0;
  }

  html body.seamwork14 .CreGuarantee>div {
      padding-left: 30px !important;
  }

  html body.seamwork14 .CreGuarantee {
      padding: 20px 20px;
  }

  html body.seamwork14 .CreGuarantee h3 {
      font-size: 16px;
      font-family: 'Roboto Bold';
      margin-bottom: 0;
      line-height: 20.6px;
  }

  html body.seamwork14 .CreGuarantee h3:before {
      left: -25px;
      top: 0;
  }

  html body.seamwork14 div[data-turbo="false"] a[href="/join#pricing"] {
      width: 100% !important;
  }
}

html body .cre-AccessText {
  font-size: 16px;
  font-weight: normal;
  line-height: 25.6px;
  letter-spacing: 0.47999998927116394px;
  font-family: 'Roboto Bold'
}

html body #checkout+.product--details label,
html body .js--external-links+.product--details label{
  font-family: 'Roboto Light'
}

html body .product--details+[data-turbo="false"] >p:first-child,
html body .js--external-links+[data-turbo="false"]>p:first-child{
  display: none;
}
html body [data-turbo="false"] .cre-AccessText{
  display: block !important;
  margin-top: 20px;
}