* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        .first {
            color: purple;
            padding: 2px 2px;
        }

        .heading {
            font-size: 46px;
            padding: 1% 20%;
        }

        .paragraph {
            color: grey;
            padding: 1% 25%;
        }

    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        padding: 1% 3%;

        .question {
            color: purple;
            margin-bottom: 11px;

            .multiply {
                padding-left: 268px;
            }

        }

        .answer {
            color: grey;
            margin-top: 11px;
        }

    }

    .Three-question {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 1% 3%;

        .questions {
            padding: 12px;


            .add1 {
                color: purple;
                padding-left: 298px;
            }

            .add2 {
                color: purple;
                padding-left: 230px;
            }

            .add3 {
                color: purple;
                padding-left: 187px;
            }

        }
    }



}