html[lang="en"] body #bHumanize,
html[lang="en"] body #humanize-tooltip {
    background-color: #25AB2B !important;
    font-size: 0 !important;
    text-transform: uppercase !important;
}

html[lang="en"] body #bCheckForAi,
html[lang="en"] body #checkForAI-tooltip {
    border-color: #51CA89 !important;
    color: #51CA89 !important;
    font-size: 0 !important;
    text-transform: uppercase !important;
}

html[lang="en"] body button#bCheckForAi:after,
html[lang="en"] body #checkForAI-tooltip:after {
    content: 'Detect AI';
    font-size: 14px;
}

html[lang="en"] body button#bHumanize:after,
html[lang="en"] body #humanize-tooltip:after {
    content: 'Humanize This Text';
    font-size: 14px !important;
}

html[lang="en"] body .bubble-element.Group.cmaWaNaH.bubble-r-container.flex.row {
    width: 100% !important;
}

html[lang="en"] body .bubble-element.Group.cmcaIo.bubble-r-container-wrapper {
    display: none;
}

html[lang="en"].b-root .bubble-element.cmaWaMaL {
    background-color: #000 !important;
}

html[lang="en"] #scrollElement .bg-darkSapphire {
    background-color: #000;
}

html[lang="en"] #scrollElement .bg-darkSapphire .mb-5.flex>.flex {
    margin-right: auto;
}

html[lang="en"] .bubble-element.Group.cmaWaNaH.bubble-r-container.flex.row {
    width: 100% !important;
}
html[lang="en"] #scrollElement .bg-darkSapphire .mb-5.flex>.flex button#clear {
  color: #b9bab9;
  border-color: #b9bab9;
}

@media only screen and (min-width: 768px) {
  html[lang="en"] #scrollElement .bg-darkSapphire .mb-5.flex>.flex {
    margin-right: auto;
  }

  html[lang="en"] body #bHumanize,
  html[lang="en"] body #humanize-tooltip {
    min-width: 200px !important;
  }
  
  html[lang="en"] body #bCheckForAi,
  html[lang="en"] body #checkForAI-tooltip {
    min-width: 150px !important;
  }

}