html body.cre-sfg-14 .cre-swiper-pagination {
    display: flex;
    justify-content: center;
}
html body.cre-sfg-14 .cre-t-sfg14-box p {
    text-align: center;
    padding: 18px 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.3;
}

html body.cre-sfg-14 .cre-t-39-testimonial-container h2 , 
html body.cre-sfg-14 .cre-t-39-testimonial-container p {
    text-align: center;
}
html body.cre-sfg-14 .cre-t-39-testimonial-wrapper {
    margin-top: 60px!important;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
html body.cre-sfg-14 .cre_headinger {
    margin-bottom: 60px;
}
html body.cre-sfg-14 .cre-t-sfg14-box {
    border: 1px solid #ebeeef;
    margin: 10px 0;
    box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, .1);
    text-align: center;
}

html body.cre-sfg-14 .cre-swiper-pagination.swiper-pagination-clickable {
    margin-top: 20px;
}
html body.cre-sfg-14 .cre-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2d7480;
}
html body.cre-sfg-14 .cre-t-sfg14-box img {
    width: 100%;
}

html body.cre-sfg-14 .cre-swiper-button-prev:before {
    content: " ";
    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url(https://www.sfg20.co.uk/hubfs/SFG20_Web_Theme_Nov2023/arrow_forward_ios-1.svg);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    cursor: pointer;
}
html body.cre-sfg-14 .cre-swiper-button-prev::after {
    content: " ";
    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url(https://www.sfg20.co.uk/hubfs/SFG20_Web_Theme_Nov2023/arrow_forward_ios-1.svg);
    position: absolute;
    top: 50%;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    cursor: pointer;
}

html body.cre-sfg-14 section.sfg20-software-section:before {
    display: none !important;
}html body.cre-sfg-14 .cre-swiper-pagination {
    display: flex;
    justify-content: center;
}
html body.cre-sfg-14 .cre-t-sfg14-box p {
    text-align: center;
    padding: 18px 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.3;
}

html body.cre-sfg-14 .cre-t-39-testimonial-container h2 , 
html body.cre-sfg-14 .cre-t-39-testimonial-container p {
    text-align: center;
}
html body.cre-sfg-14 .cre-t-39-testimonial-wrapper {
    margin-top: 60px!important;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
html body.cre-sfg-14 .cre_headinger {
    margin-bottom: 60px;
}
html body.cre-sfg-14 .cre-t-sfg14-box {
    border: 1px solid #ebeeef;
    margin: 10px 0;
    box-shadow: 2px 5px 15px 0 rgba(0, 0, 0, .1);
    text-align: center;
}

html body.cre-sfg-14 .cre-swiper-pagination.swiper-pagination-clickable {
    margin-top: 20px;
}
html body.cre-sfg-14 .cre-swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2d7480;
}
html body.cre-sfg-14 .cre-t-sfg14-box img {
    width: 100%;
}

html body.cre-sfg-14 .cre-swiper-button-prev:before {
    content: " ";
    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url(https://www.sfg20.co.uk/hubfs/SFG20_Web_Theme_Nov2023/arrow_forward_ios-1.svg);
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    cursor: pointer;
}
html body.cre-sfg-14 .cre-swiper-button-prev::after {
    content: " ";
    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url(https://www.sfg20.co.uk/hubfs/SFG20_Web_Theme_Nov2023/arrow_forward_ios-1.svg);
    position: absolute;
    top: 50%;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
    cursor: pointer;
}

html body.cre-sfg-14 section.sfg20-software-section:before {
    display: none !important;
}