html body #ServicePageBusinessInfoSection>div>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

/* #ServicePageBusinessInfoSection>div>div:nth-child(2)>div {
    max-width: 50%;
} */

html body #ServicePageBusinessInfoSection>div>div:nth-child(2)>div:first-child {
    order: 3;
}

html body #ServicePageBusinessInfoSection>div>div:nth-child(2)>div:nth-child(3) {
    order: 2;
}

html body #ServicePageBusinessInfoSection>div>div:nth-child(2)>div:nth-child(4) {
    order: 1;
}

html body section#ServicePageHeaderSection+div>div:first-child {
    display: none;
}

/* #ServicePageBusinessInfoSection>div>div:nth-child(2)>div:nth-child(2) {
    order: 4;
}