html body.cre-t-51 .cre-t-51-new-content-container {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
    margin-right: 24px;
    color: rgb(38, 86, 130);
}
[data-path="/restaurants"] .cre-t-51-new-content-container,
[data-path="/"] .cre-t-51-new-content-container {
    color: #fff !important;
}
html body.cre-t-51 .cre-t-51-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 43, 46, 0.45);
    z-index: 9;
    opacity: 0;
    transition: opacity 0.3s ease;
}
html body.cre-t-51.cre-t-51-modal-open .cre-t-51-modal-overlay {
    opacity: 1;
}
html body.cre-t-51 .cre-t-51-modal-faqcta a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
html body.cre-t-51 .cre-t-51-modal-container {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: #ffffff;
    max-width: 926px;
    width: 100%;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
html body.cre-t-51.cre-t-51-modal-open .cre-t-51-modal-container {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
html body.cre-t-51 .cre-t-51-modal-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 50px;
}
html body.cre-t-51 .cre-t-modal-header {
    color: #265682;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 47px;
    line-height: 39.99px;
    font-family: var(--font-abril-fatface), serif;
}
html body.cre-t-51 .cre-t-51-modal-button {
    border-radius: 2px;
    border: 1px solid #ff685d;
    background: #ff685d;
    color: #fff;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    line-height: 1.625;
    justify-content: center;
    margin-top: 26px;
    font-size: 19px;
}
html body.cre-t-51 .cre-t-51-modal-sub-copy {
    color: #272b2e;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 22px;
    font-size: 19px;
    line-height: 29px;
    margin-top: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 30px;
}
html body.cre-t-51 .cre-t-51-modal-list-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 49px;
    position: relative;
    margin-top: 33px;
}
html body.cre-t-51 .cre-t-51-modal-list-item {
    display: flex;
    gap: 12px;
}
html body.cre-t-51 .cre-t-51-modal-item-content span {
    font-weight: 700;
}
html body.cre-t-51 .cre-t-51-modal-list-header {
    color: #265682;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    margin-bottom: 30px;
    font-family: var(--font-abril-fatface), serif;
    margin-top: 30px;
}
html body.cre-t-51 .cre-t-51-modal-list-item-icon {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
}
html body.cre-t-51 .cre-t-51-modal-list-item-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
html body.cre-t-51 .cre-t-51-modal-wrapper {
    position: relative;
    padding: 35px 35px 35px 35px;
}
html body.cre-t-51 .cre-t-51-cross {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
html body.cre-t-51 .cre-t-51-modal-item-content {
    color: #272b2e;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    padding-left: 53px;
    padding-top: 3px;
}
html body.cre-t-51 .cre-t-51-modal-nohidefree {
    font-weight: 700;
    font-size: 19px;
    line-height: 38px;
    letter-spacing: inherit;
    color: #272B2E;
}
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 30px;
    border-top: 1px solid #EBEFF2;
    padding-top: 12px;
    color: #255681;
    font-family: var(--font-abril-fatface), serif;
}
html body.cre-t-51 .cre-t-51-modal-paragraph {
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0%;
    margin-top: 12px;
    line-height: 30px;
}
html body.cre-t-51 .Cre_heading_wuestions {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #255681;
    font-family: var(--font-abril-fatface), serif;
}
html body.cre-t-51 .cre-t-51-modal-questionstab>p:first-child {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0%;
    color: #272B2E;
}
html body.cre-t-51 .cre-t-51-modal-questionstab>p {
    color: #272B2E;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0%;
}
html body.cre-t-51 .cre-t-51-modal-list-item:before {
    content: " ";
    height: 42px;
    width: 43px;
    background-color: #255681;
    display: inline-block;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    left: 0;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}
html body.cre-t-51 .cre-t-51-modal-list-item:first-child:before {
    content: "1 ";
}
html body.cre-t-51 .cre-t-51-modal-list-item:nth-child(2):before {
    content: "2 ";
}
html body.cre-t-51 .cre-t-51-modal-list-item:nth-child(3):before {
    content: "3 ";
}
html body.cre-t-51 .cre-t-51-modal-lWhy-Common-Questions {
    margin-top: 80px;
}
html body.cre-t-51 .cre-t-51-modal-questionstab {
    margin-top: 12px;
}
html body.cre-t-51 .cre-t-51-modal-questionstab {
    margin-top: 16px;
    margin-bottom: 26px;
}
html body.cre-t-51 .cre-t-51-modal-faqcta {
    max-width: 305px;
    height: 44px;
    border: 2px solid #265682;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #265682;
    font-size: 19px;
    font-weight: 700;
    border-radius: 2px;
}
html body.cre-t-51 .cre-t-51-new-content-container~span {
    display: none;
}
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants img {
    margin-top: -6px;
}
html body.cre-t-51 .cre-t-51-modal-main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html body.cre-t-51 .cre-t-51-modal-main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
html body.cre-t-51 .cre-t-51-modal-main {
    max-height: 90vh;
    /* Max height equals to 90% of viewport height */
    overflow-y: auto;
    /* Enables vertical scroll if needed */
    box-sizing: border-box;
}
html body.cre-t-51 .cre-t-51-modal-reviewsection {
    margin-top: 22px;
    border-left: 1px solid #EBEFF2;
    padding: 16px;
    padding-top: 0px;
    /* margin-bottom: 8px; */
}
html body.cre-t-51 .cre-t-51-modal-reviewicon+p {
    margin-top: 5px;
    font-size: 18px;
    font-style: italic;
}
/* extra style for variation C */
html body.cre-t-51 .cre-t-51-modal-questionstab,
html body.cre-t-51 .cre-t-51-modal-paragraph,
html body.cre-t-51 .cre-t-51-modal-reviewsection,
html body.cre-t-51 .cre-t-51-modal-faqcta,
html body.cre-t-51 .cre-t-51-modal-nohidefree {
    display: none;
}
html body.cre-t-51 .cre-t-51-modal-list-header:after,
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants:after,
html body.cre-t-51 .Cre_heading_wuestions:after {
    content: " ";
    display: inline-block;
    background-image: url(https://cdn-3.convertexperiments.com/uf/10007679/10007713/minus_681b026a6dc20.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    margin-left: 12px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants:after,
html body.cre-t-51 .Cre_heading_wuestions:after {
    /* // transform: rotate(180deg) translateY(50%); */
    background-image: url(https://cdn-3.convertexperiments.com/uf/10007679/10007713/plus-2_681b0286caee5.png);
}
html body.cre-t-51 .cre-t-51-modal-lWhy-Common-Questions {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #EBEFF2;
}
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants.cre-t-51-Why_Restaurants~div,
html body.cre-t-51 .Cre_heading_wuestions.cre-t-51-heading_wuestions~div {
    display: block !important;
}
html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants.cre-t-51-Why_Restaurants:after,
html body.cre-t-51 .Cre_heading_wuestions.cre-t-51-heading_wuestions:after {
    background-image: url(https://cdn-3.convertexperiments.com/uf/10007679/10007713/minus_681b026a6dc20.png);
}
@media screen and (min-width:768px) {
    html body.cre-t-51 .cre-t-51-modal-list-header.cre-t-51-modal-open~.cre-t-51-modal-list-items {
        display: none !important;
    }
     html body.cre-t-51 .desktopopup .cre-t-51-modal-lWhy_Restaurants::after{
        top: 56%;
    }
}
html body.cre-t-51 .cre-t-51-modal-list-header.cre-t-51-modal-open::after {
    background-image: url(https://cdn-3.convertexperiments.com/uf/10007679/10007713/plus-2_681b0286caee5.png);
}
html body .cre-t-51-modal-list-header,
html body .cre-t-51-modal-lWhy-Common-Questions .Cre_heading_wuestions,
html body .cre-t-51-modal-content .cre-t-51-modal-lWhy_Restaurants {
    cursor: pointer;
    position: relative;
}
#form-alert+section .cre-t-51-new-content-container {
    color: #fff;
}
@media screen and (max-width: 767px) and (max-height: 870px) {
    html body.cre-t-51 .cre-t-51-modal-main {
        overflow: scroll;
        /* height: 80vh; */
    }
}
@media screen and (max-width: 999px) and (min-width: 768px) {
    html body.cre-t-51 .cre-t-51-modal-container {
        max-width: 90%;
    }
}
@media screen and (max-width: 768px) {
    html body.cre-t-51 .cre-t-51-modal-container {
        max-width: 505px;
        width: calc(100% - 30px);
    }
    html body.cre-t-51 .cre-t-51-modal-wrapper {
        padding: 36px 20px;
    }
    html body.cre-t-51 .cre-t-51-cross {
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    html body.cre-t-51 .cre-t-51-cross-mobile {
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* display: none; */
        position: absolute;
    }
    html body.cre-t-51 .cre-t-51-cross-mobile svg {
        width: 100%;
        height: 100%;
    }
    html body.cre-t-51 .cre-t-modal-header {
        text-align: left;
    }
    html body.cre-t-51 .cre-t-51-modal-sub-copy {
        margin-bottom: 15px;
        margin-top: 0;
    }
    html body.cre-t-51 .cre-t-51-modal-sub-copy,
    html body.cre-t-51 .cre-t-51-modal-list-header,
    html body.cre-t-51 .cre-t-51-modal-item-content {
        text-align: center;
    }
    html body.cre-t-51 .cre-t-51-modal-main {
        padding: 0;
        margin-top: 20px;
    }
    html body.cre-t-51 .cre-t-modal-header {
        font-size: 28px;
    }
    html body.cre-t-51 .cre-t-51-modal-list-header,
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants,
    html body.cre-t-51 .Cre_heading_wuestions {
        font-size: 38px;
        text-align: center;
        line-height: 40px;
    }
    html body.cre-t-51 .cre-t-51-modal-list-item:before {
        height: 35px;
        width: 35px;
        font-size: 19px;
        margin: 0 auto;
    }
    html body.cre-t-51 .cre-t-51-modal-item-content {
        padding-left: 0px;
        padding-top: 0;
    }
    html body.cre-t-51 .cre-t-51-modal-nohidefree {
        line-height: 26px;
    }
    html body.cre-t-51 .cre-t-51-modal-faqcta,
    html body.cre-t-51 .cre-t-51-modal-button {
        font-size: 16px;
    }
    html body.cre-t-51 .cre-t-51-new-content-container {
        margin-right: 6px;
        font-size: 15px;
        order: -1;
    }
    html body.cre-t-51 [data-attribute="header-search"] {
        display: flex;
        justify-content: center;
        flex: inherit !important;
        align-items: center;
    }
    html body.cre-t-51 .cre-t-51-modal-button {
        position: absolute;
        bottom: 9px;
        left: 0;
        max-width: 90%;
        margin: 0 auto;
        right: 0;
    }
    html body.cre-t-51 .cre-t-51-modal-lWhy-Common-Questions {
        margin-top: 0px;
        text-align: center;
        border: none;
        padding-top: 0 !important;
    }
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants {
        margin-top: 30px;
    }
    html body.cre-t-51 .cre-t-51-modal-list-header {
        margin-top: 30px;
    }
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants, html body.cre-t-51 .cre-t-51-modal-list-header, html body.cre-t-51 .cre-t-51-modal-main{
        padding-top: 0 !important;
    }
}
@media screen and (max-width: 500px) {
    html body.cre-t-51 .cre-t-51-modal-main {
        overflow: scroll;
        /* height: 75vh; */
    }
}
@media screen and (min-width: 769px) {
    .mobile_popup {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .desktopopup {
        display: none;
    }
    html body.cre-t-51 .cre-t-51-modal-questionstab,
    html body.cre-t-51 .cre-t-51-modal-paragraph,
    html body.cre-t-51 .cre-t-51-modal-reviewsection,
    html body.cre-t-51 .cre-t-51-modal-faqcta,
    html body.cre-t-51 .cre-t-51-modal-nohidefree {
        display: block;
        border: none;
        text-align: center;
    }
    html body.cre-t-51 .cre-t-51-modal-list-header:after,
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants:after,
    html body.cre-t-51 .Cre_heading_wuestions:after {
        display: none;
    }
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants {
        border-top: none;
    }
    html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants,
    html body.cre-t-51 .cre-t-51-modal-list-header,
    html body.cre-t-51 .cre-t-51-modal-main {
        margin-top: 0 !important;
    }
    html body.cre-t-51 .cre-t-51-modal-list-item:before {
        position: inherit;
    }
    html body.cre-t-51 .cre-t-51-modal-list-item {
        flex-direction: column;
        align-items: center;
    }
    html body.cre-t-51 .cre-t-51-modal-main {
        overflow: scroll;
        height: 82vh;
    }
    /* html body.cre-t-51 .mobile_popup{
        height: 100%;
    } */
    html body.cre-t-51 .cre-t-51-modal-faqcta {
        margin: 0 auto;
    }
    html body.cre-t-51 .cre-t-51-modal-faqcta a {
        border: 1px solid #265682;
    }
    html body.cre-t-51 .mobile_popup+.swiper-pagination {
        padding-top: 20px;
        position: inherit !important;
        margin-top: auto;
    }
    html body.cre-t-51 .cre-t-51-modal-wrapper-container .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 61px;
        padding: 10px;
        background-color: #fff;
    }
    .cre_fixed_footer {
        background-color: #fff;
        position: fixed;
        z-index: 999;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
}
html body .desktopopup .cre-t-51-modal-content .cre-t-51-modal-lWhy_Restaurants {
    margin-top: 20px;
    padding-top: 23px;
    padding-bottom: 16px;
}
html body.cre-t-51 .Cre_heading_wuestions {
    margin-top: 8px;
}
.desktopopup{
    padding-bottom: 25px;
}
html body.cre-t-51 .cre-t-51-modal-wrapper-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
}
html body.cre-t-51.cre-t-51-modal-open .cre-t-51-modal-wrapper-container {
    visibility: visible;
}
@media screen and (max-width: 340px) {
    html body.cre-t-51 .cre-t-51-new-content-container {
        margin-right: 0px;
        font-size: 14px;
        order: -1;
    }
}
@media screen and (max-width: 380px) {
    html body.cre-t-51 .cre-t-51-modal-list-header, html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants, html body.cre-t-51 .Cre_heading_wuestions {
        font-size: 34px;
    }
}
@media screen and (max-width: 362px) {
    html body.cre-t-51 .cre-t-51-modal-list-header, html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants, html body.cre-t-51 .Cre_heading_wuestions {
        font-size: 32px;
    }
}
@media screen and (max-width: 340px) {
    html body.cre-t-51 .cre-t-51-modal-list-header, html body.cre-t-51 .cre-t-51-modal-lWhy_Restaurants, html body.cre-t-51 .Cre_heading_wuestions {
        font-size: 30px;
    }
}
