@media screen and (max-width: 600px) {

    html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div>div:first-child a div.inline-flex {
        display: none !important;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"] h3,
    html body.cre-t-150 [data-attribute="restaurant-title-row"] h3 a {
        color: #275682;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-wrap: pretty;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-location"] a.flex {
        cursor: none;
        text-decoration: none;
        text-underline-offset: unset;
        color: #5e6570;
        font-family: inherit;
        font-size: 13px !important;
        font-style: normal;
        font-weight: 400;
        line-height: var(--line-height-14, 14px);
    }

    html body.cre-t-150 [data-attribute="restaurant-list-location"] a svg {
        display: none;
    }

    html body.cre-t-150 .cre-t-150-tag-wrapper {
        display: block !important;
    }

    html body.cre-t-150 [data-attribute="booking-fee-element"]~a[href="/frequent-foodies"] {
        display: none;
    }

    html body.cre-t-150 .cre-t-150-box-wrapper {
        border-radius: 5px;
        background: #f7f7f8;
        display: inline-flex;
        padding: 3px 8px;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    /* Per person and fee css */
    html body.cre-t-150 .cre-t-150-container {
        display: flex;
        gap: 6px;
    }

    html body.cre-t-150 .cre-t-150-box-wrapper .cre-t-150-text {
        color: #5E6570;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: var(--line-height-16, 16px);
    }

    html body.cre-t-150 .cre-t-150-box-wrapper.tag-2 .cre-t-150-icon {
        /* width: 12px;
        height: 9px;
        aspect-ratio: 12/9; */
        width: 13px;
        height: 13px;
    }

    html body.cre-t-150 .cre-t-150-box-wrapper.tag-1 .cre-t-150-icon {
        /* width: 9px;
        height: 12px;
        aspect-ratio: 9/12; */
        width: 11px;
        height: 14px;
    }

    html body.cre-t-150 .cre-t-150-box-wrapper.tag-1 .cre-t-150-icon img,
    html body.cre-t-150 .cre-t-150-box-wrapper.tag-2 .cre-t-150-icon img {
        width: 100%;
        height: 100%;
        display: flex;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-location"] {
        padding: 1px 0px 2px 0px;
        justify-content: center;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"] .group.grid .col-span-2>div>.items-center {
        display: none !important;
    }

    /* Review order for control flow */
    /* Review order for control flow */
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div+span.leading-none,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div+span.leading-none,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>div+span.leading-none {
        margin-left: -3px;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>span {
        color: #272b2e;
        font-family: inherit;
        font-size: 13px !important;
        font-style: normal;
        font-weight: 400;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>div,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>div {
        order: 1;
        margin: 0px;
        transform: scale(0.9);
        position: relative;
        left: -4px;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>span.sr-only+span:not(.leading-none),
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>span.sr-only+span:not(.leading-none),
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>span.sr-only+span:not(.leading-none) {
        order: 2;
        margin: 0px 0px 0px -2px;
        display: none !important;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div+span.leading-none,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>div+span.leading-none,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>div+span.leading-none {
        order: 3;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div+span.leading-none+span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>div+span.leading-none+span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>div+span.leading-none+span {
        order: 4;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div+span.leading-none+span+span+span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>div+span.leading-none+span+span+span,
    html body.cre-t-150 [data-attribute="restaurant-title-row"]+a>div>div+span.leading-none+span+span+span {
        order: 5;
    }

    /* This all optional code is to hide the menu and photos */
    html body.cre-t-150 .cre-t-148-menu-and-photos {
        display: none !important;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"] .cre-t-123-review-container {
        display: none !important;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"][data-review-summary] .cre-t-123-link-review {
        display: block !important;
    }

    /* This code for not v1 */


    html body.cre-t-150 [data-attribute="New_booking-time-button"] {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 3.5px 2px;
        font-size: 13px;
        font-weight: 600;
        line-height: 21px;
    }

    html body.cre-t-150 [data-attribute="New_booking-time-button"] span {
        color: #fff;
        font-family: inherit;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        /* line-height: 23px; */
        line-height: 20px;
    }

    html body.cre-t-150 [data-attribute="New_booking-time-button"] span.ampm-span {
        font-size: 10px;
        text-transform: uppercase;
        margin-left: 2px;
    }

    html body.cre-t-150 .cre-t-150-box-wrapper.tag-3 {
        border-radius: 5px;
        background: #EAE5DC;
        color: #272B2E;
        font-family: inherit;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: var(--line-height-14, 14px);
    }

    /* Button css */
    html body.cre-t-150 .cre-t-150-more-time-button,
    html body.cre-t-150 .cre-t-150-more-times-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #99A3AB1A;
        max-width: 354px;
        width: 100%;
        margin: 0 auto;
        margin-top: 17px;
        padding-top: 9px;
        gap: 4px;
        color: #275682;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: var(--line-height-14, 14px);
    }

    html body.cre-t-150 .cre-t-150-more-time-button svg,
    html body.cre-t-150 .cre-t-150-more-times-container svg {
        color: #275682;
    }

    html body.cre-t-150 .cre-t-150-remove-class {
        display: none !important;
    }

    html body.cre-t-150 .cre-t-150-remove-class-button .cre-t-150-remove-class {
        display: block !important;
    }

    html body.cre-t-150 .cre-t-150-remove-class-button .cre-t-150-more-times-container,
    html body.cre-t-150 .cre-t-150-remove-class-button .cre-t-150-more-time-button {
        display: none !important;
    }


    html body.cre-t-150 .cre-t-150-box-wrapper.service-wrapper.tag-3 .cre-t-150-text {
        color: #272B2E;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"] .cre-t-129-review-ai-icon {
        width: 16px;
        height: 16px;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"] .cre-t-129-review-ai-text {
        font-size: 13px;
    }

    html body.cre-t-150.cre-t-129-v5 [data-attribute="restaurant-title-row"]~.cre-t-129-review-container>div:first-child>div,
    html body.cre-t-150.cre-t-129-v5 [data-attribute="restaurant-title-row"]~.cre-t-123-review-container>div:first-child>div,
    html body.cre-t-150.cre-t-129-v5 [data-attribute="restaurant-title-row"]+a>div>div {
        margin-right: 3px;
        margin-top: -2px;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div>div.flex.self-stretch {
        gap: 5px !important;
    }

    html body.cre-t-150 [data-attribute="New_booking-date-button"] div {
        font-weight: bold;
        font-size: 12px;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div {
        row-gap: 4px;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div>div.flex.self-stretch+div {
        margin-top: 4px;
    }

    html body.cre-t-150 [data-attribute="restaurant-title-row"] h3 {
        padding-top: 1px;
    }

    html body.cre-t-150 [data-attribute="New_booking-date-button"]>span {
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: 700;
    }


    html body.cre-t-150.cre-t-129-v5 [data-attribute="restaurant-list-item"] .cre-t-129-link-review>div.flex>div.flex {
        margin-right: 4px;
        margin-top: -1px;
    }

    html body.cre-t-150.cre-t-129-v5 [data-attribute="restaurant-list-item"] .cre-t-129-review-ai-wrapper {
        height: 12px;
    }


    html body.cre-t-150 .date-month-span {
        display: none;
    }

    html body.cre-t-150 [data-attribute="New_booking-date-button"] {
        display: flex;
        flex-direction: row;
        padding-right: 0px;
        padding-left: 0px;
        align-items: center;
        justify-content: center;
        gap: 2px;
        padding-top: 8px;
    }

}