    html body.cre-t-150 [data-attribute="restaurant-list-location"] {
        padding: 0px 0px 4px 0px;
    }

    html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div>div.flex.self-stretch .cre-t-129-review-container, html body.cre-t-150 [data-attribute="restaurant-list-item"]>div>div>div.flex.self-stretch .cre-t-129-link-review {
    margin-bottom: 5px;
}