html body.cre-t-brandNameInCopyDeployment .cre-t-brandNameInCopy {
    margin-top: 25px;
}

html body.cre-t-brandNameInCopyDeployment .cre-t-brandNameInCopy p {
    font-family: "Montserrat", arial, sans-serif !important;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
}