[data-attribute="restaurant-list-location"] a,
[data-attribute="restaurant-list-location"] span {
  color: #99A3AB;
  font-size: 14.5px;
  line-height: normal;
}

[data-attribute="restaurant-list-location"] a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (max-width: 600px) {

  [data-attribute="restaurant-list-location"] a,
  [data-attribute="restaurant-list-location"] a+span,
  .cre-t-148 .cre-t-148-menu-item {
    gap: 9px !important;
  }
}