:root {
    --primary-color: #1A0EAB; 
    --secondary-color: #464cff; 
    --underline-color: #bbbee7ab;
    --color-white: #fff;
    --hover-color:#2e20c1;
}

html body a.ct-link-button.see-plans-button,
html body .number-bubble,
html body .oxy-tabs-wrapper.oxy-tabs > div.tabs-0208-tab-active,
html body .ct-section.social-proof,
html body .ct-link-button.header-quote-button,
html body ul li.Mui-selected {
    background: var(--primary-color) !important;  
}

html body .ct-link-button.header-quote-button:hover,
html body a.ct-link-button.see-plans-button:hover{
    background: var(--hover-color) !important;
}

html body .guarantee-container .best-price-label{
    color: var(--primary-color) !important;
}
html body .oxy-site-navigation.header-nav ul li a:hover{
    color: var(--secondary-color) !important;
}

html body .oxy-dynamic-list .guarantee-container .oxy-popover_icon svg{
    fill: var(--primary-color) !important;
}

html body div.oxy-dynamic-list a.oxy-read-more-link:hover{
    background: var(--primary-color) !important;  
    color: var(--color-white) !important;
}

html body div.oxy-dynamic-list a.oxy-read-more-link{
    background: var(--color-white)  !important;
    color: var(--primary-color)!important;
    border: 1px solid var(--primary-color) !important;
}

html body .oxy-pro-accordion_item button:hover{
    color: var(--hover-color) !important;
}

html body .oxy-pro-accordion_item button .oxy-pro-accordion_icon svg:hover{
    fill: var(--secondary-color) !important;
}

html footer ul li a:hover{
    color: var(--secondary-color) !important;
}

html .ct-section h1.home-heading span span.underline{
    box-shadow: inset 0 -15px 0 var( --underline-color) !important;
}

html footer .social-link:hover{
    background-color: var(--hover-color) !important;
}

html body .oxy-social-share-buttons .oxy-share-button:hover{
    background-color: var(--hover-color) !important;
}


html body footer .oxy-nav-menu ul li:hover,
html body footer .oxy-nav-menu ul li.menu-item:hover a{
    color: var(--hover-color) !important;
}

html body #content-section .oxy-pro-accordion .oxy-pro-accordion_item.active .oxy-pro-accordion_header{
    color: var(--secondary-color) !important;
}

html body .exit-modal-content .button.Lemonade{
    background: var(--primary-color) !important;
}

html body div.oxy-dynamic-list a.oxy-read-more-link .oxy-read-more-link_text:hover{
    color: var(--color-white) !important;
}

html body .page-content .oxy-stock-content-styles p  a{
    color: var(--primary-color) !important;
}


html body .oxy-header-container .oxy-header-left > a[href="/"] img {
    opacity: 0 !important;
    transition: opacity 0.3s ease !important;
}

html body .oxy-header-container .oxy-header-left > a[href="/"] img {
    content: url('https://cdn-3.convertexperiments.com/uf/10007679/10007714/green_691ea8bc22ec2.svg') !important;
    opacity: 1 !important;
}

html body .mobile-back-to-top a{
    background-color: var(--primary-color) !important;
}