html body .cre-t-125-average-container {
    display: block !important;
    z-index: 1;
    position: relative;
}
html body .cre-t-125-average-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

html body .cre-t-125-average-saving {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

html body .cre-t-125-savings-text {
    color: #99a3ab;
    font-family: var(--font-open-sans), sans-serif;
    font-size: var(--font-size-12, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-14, 14px);
}

html body .cre-t-125-tooltip-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

html body .cre-t-125-tooltip-icon {
    width: 13px;
    height: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

html body .cre-t-125-tooltip-content {
    background: #c7a77b00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-width: 249px;
    position: absolute;
    bottom: calc(100% - -3px);
    right: -118px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

html body .cre-t-125-tooltip-text {
    color: #fff;
    font-family: var(--font-open-sans), sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 8px;
    background: #c7a77b;
    padding: 12px;
    -webkit-box-shadow:
        0 12px 16px -4px rgba(16, 24, 40, 0.08),
        0 4px 6px -2px rgba(16, 24, 40, 0.03);
    box-shadow:
        0 12px 16px -4px rgba(16, 24, 40, 0.08),
        0 4px 6px -2px rgba(16, 24, 40, 0.03);
}

html body .cre-t-125-tooltip-arrow {
    position: relative;
    bottom: 3px;
    width: 100%;
    height: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: transparent;
}

html body .cre-t-125-tooltip {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 2px;
}
html body .cre-t-125-tooltip-active .cre-t-125-tooltip-content {
    opacity: 1;
    pointer-events: all;
}
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* plp page  */
html body .cre-t-125-average-matched[data-attribute="restaurant-list-item"] [data-attribute="booking-fee-element"] {
    display: none;
}

html body .cre-t-125-average-matched[data-attribute="restaurant-list-item"] .cre-t-125-average-container {
    --tw-translate-y: -0.125rem;
    --tw-translate-x: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */

/* pdp page  */
html body #RestaurantAvailability [data-attribute="booking-fee-element"][detail-restaurant-id] {
    display: none;
}

html body #RestaurantAvailability .cre-t-125-average-container {
    --tw-translate-y: -0.125rem;
    --tw-translate-x: 0;

    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (max-width: 379px) {
    html body #RestaurantAvailability .cre-t-125-detail-parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    html body #RestaurantAvailability .cre-t-125-detail-parent > a {
        margin-left: 0;
    }

    html body #RestaurantAvailability .cre-t-125-tooltip-content {
        right: -65px;
    }

    html body #RestaurantAvailability .cre-t-125-tooltip-arrow {
        margin-left: 52px;
    }
}

@media (max-width: 365px) {
    html body [data-attribute="restaurant-list-item"] .cre-t-125-detail-list-parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    html body [data-attribute="restaurant-list-item"] .cre-t-125-detail-list-parent > a {
        margin-left: 0;
    }

    html body [data-attribute="restaurant-list-item"] .cre-t-125-tooltip-content {
        right: -30px;
        min-width: 190px;
    }

    html body [data-attribute="restaurant-list-item"] .cre-t-125-tooltip-arrow {
        margin-left: auto;
        width: fit-content;
        margin-right: 28px;
    }
}