* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

$bg-color: rgb(235, 101, 235);

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;


    &::before {
        content: "";
        background-color: white;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
    }

    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        #logo {
            margin: 8px 33px;

            img {
                width: 9rem;
            }


        }

        .ul {
            display: flex;


            .item {

                list-style: none;
                font-size: 1.3rem;


                .a {
                    color: black;
                    display: block;
                    padding: 2px 19px;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 15px;
                }

                .a:hover {
                    color: white;
                    background-color: $bg-color;
                }

            }
        }

        .form-group {


            input {
                margin: 0px 4px;
                border: 1px solid grey;
            }

        }

    }


    .bell {
        border: 1px solid #d9d9d9;
        background-color: #d9d9d9;
        color: grey;
        margin-left: 326px;
        display: flex;
    }

    .profile {
        margin: 1px 8px;

        img {
            width: 43px;
            border-radius: 22px;
        }

    }

   

}

.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    &::before {
        content: "";
        background-color: $bg-color;
        height: 27%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .h {
        padding-top: 69px;
    }






}